.dashboard{
    position: relative;
    display: flex;
    width: 100%;
}
.dashboard__c{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 120px;
    margin-left: 158px;
}
.dashboard__graphic{
    width: 100%;
}
.dashboard__graphic__low{
    display: flex;
    justify-content: space-between;
    gap: 3%;
}
.dashboard__content{
    display: flex;
    justify-content: space-around;
    gap: 3%;
    padding: 3%;
}