.header{
    background-color: black;
    height: 91px;
    width: 100%;
    position: absolute;
    z-index: 1;
}
.header__content{
    display: flex;
    justify-content:space-between;
    align-items: center;
    color: white;
    padding: 1% 1%;
}
