.name{
    margin-top: 2%;
    margin-left: 4%;
}
.name__salutation,
.name__user
{
    font-weight:500 ;
    font-size: 48px;
    line-height: 24px;
}

.red{
    color: #FF0101;
}
.name__text{
    font-weight: bold;
    font-size: 18px;
    line-height:24px ;
}