.radar {
  background-color: #282d30;
  border-radius: 6px;
  width: 30%; 
  min-width: 200px;
}
.radar__content{
  width: 100%;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .radar__content{
  width: 200px;
  margin: 0;
}
}
