.score{
    width: 40%;
    min-width: 170px;
    background-color: #FBFBFB;
}
.score__content{
    width: 100%;
    text-align: -webkit-center;
}


@media screen and (max-width: 1024px) {
  .score__content{
  width: 200px;
  height: 205px;
  margin: 0;
}
}
